h1 {
    text-align: center;
    font-style: italic; 
}
   img:hover {
  transform: scaleX(-1);
}
img {
    border-radius: 8px;
}
body{background-color: saddlebrown;}
a:link {
    color: blue;
}
a:hover {
    color: white;
}
a:visited {
    color: orange;
}
img {
    margin: auto;
    display: block;
    margin-top: 18px;
}
a{
    margin-left: 545px;
    margin-top: -16px;
}
p{
    text-align: center;
}