h1 {
    text-align: center;
}
   img:hover {
  transform: scaleX(-1);
}
body{background-color: saddlebrown;}
a:link {
    color: blue;
}
a:hover {
    color: white;
}
a:visited {
    color: orange;
}
img {
    margin-left: -8px;
    margin-top: -16px;
}
a{
    margin-left: -1px;
}
p{
    margin-left: -1px;
}